{% extends "layout.html" %}
{% block head_script %}
    <script type=text/javascript
        src="{{ url_for('static', filename='jquery-3.2.1.js') }}">
    </script>
{% endblock %}
{% block content %}
    Logged in as: <b>{{ user["username"] }}</b>
    <a href="{{ url_for('logout_view') }}">Logout</a>
    <h3>You haver ({{ tasks|length }}) tasks</h3>
    <form action="{{ url_for('index') }}" method=post>
        Task: <input type=text name=task_name required>
        <input type=submit value="Add New To-Do">
    </form>
    <form id="form_checkboxes">
        {% for task in tasks %}
            <p>
                <input type="checkbox" id="task_{{ task.id }}" value="{{ task.id }}"
                    {% if task["done"] %} checked {% endif %}>
                {% include "labels.html"%}
            </p>
        {% endfor %}
    </form>
    <script>
        $(document).ready(function(){
            $(':checkbox').change(function(){
                var _this = this;
                var task_info = {
                    task_id: $(this).attr("value"),
                    is_checked : $(this).is(':checked')
                };
                $.ajax({
                    url: 'complete',
                    data: JSON.stringify(task_info),
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    success: function(response) {
                        $("#l"+_this.id).hide().html(response).fadeIn('slow');
                    },
                });
            });
        });
    </script>
{% endblock %}
